.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 16px;
  line-height: 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../images/closebtn.png");
  height: 20px;
  width: 20px;
  border-style: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  border-top: black;
  border-left: none;
  border-right: none;
  width: 100%;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-input {
  margin-right: 5px;
}

.modal__submit-btn {
  height: 36px;
  width: 124px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-style: none;
  margin-top: 8px;
}
