.toggle__switch {
  display: flex;
  position: relative;
  margin-left: auto;
}

.toggle__switch-box {
  border-radius: 25px;
  border: 2px solid black;
  width: 55px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #f3f3f3;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  top: 0px;
  left: 30px;
}

.switch__slider-C {
  top: 0px;
  left: 0px;
}

.switch__active {
  font-size: 16px;
  color: #f3f3f3;
}

.switch__temp-F {
  position: absolute;
  top: -12px;
  left: 40px;
  color: #f3f3f3;
}

.switch__temp-C {
  position: absolute;
  top: -12px;
  left: 10px;
  color: white;
}
