.card {
  position: relative;
}

.card__information {
  position: absolute;
  display: flex;
  margin-top: 15px;
  margin-left: 116px;
  gap: 10px;
}

.card__image {
  height: 326px;
  width: 323px;
  border-radius: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__name {
  margin: 0;

  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
}

.item__like {
  margin: 0;

  background-image: url("../../images/like.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 18px;
}

.item__like_active {
  background-image: url("../../images/likeactive.png");
}
