.cards__text {
  margin-top: 40px;
  margin-bottom: 34px;
}

.cards__list {
  display: flex;
  flex-direction: row;
  width: 1360px;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 100%;
}

.card__image {
  height: 326px;
  width: 323px;
  border-radius: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__name {
  margin: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
  margin-top: 15px;
  margin-left: 116px;
}

.item__like {
  margin: 0;
  position: absolute;
  background-image: url("../../images/like.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  padding: 2px 12px;
  margin-top: 15px;
  margin-left: 190px;
}

.item__like_active {
  background-image: url("../../images/likeactive.png");
}
