.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__current-date {
  margin: 0;
}
.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  border: none;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}

.header__user-avatar {
}
