.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.wrapper__date-and-location {
  gap: 10px;
}

.wrapper__profile-and-buttons {
  gap: 10px;
}

.header__logo {
  margin-right: 24px;
}

.header__current-date {
  margin: 0;
}
.header__add-clothes-btn {
  margin-right: 20px;
  border: none;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}

.header__user-avatar {
}
