.clothes-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 24px;
}
.clothes-section__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.clothes-section__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 24px;
}

.clothes-section__add-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
