.modal__signup {
  opacity: 0.5;
  background: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
}

.modal__login {
  cursor: pointer;
  height: 36px;
  width: 124px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-style: none;
  margin-top: 8px;
}
